<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance – CloudStorage</title>
    @* @Styles.Render("~/Content/css") *@
    @* @Scripts.Render("~/bundles/modernizr") *@

</head>
<body>

    <div>@RenderSection("NavbarSecondLvl", required: false)</div>
    <div class="body-content background">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Cloud Service</p>
    </footer>


    @* @Scripts.Render("~/bundles/jquery") *@
    @* @Scripts.Render("~/bundles/bootstrap") *@
    @RenderSection("scripts", required: false)
</body>
</html>
